
<div class="text-center row">
    <div class="col-sm-3"></div>
    <div *ngIf="allJobs" class="col-sm-6">
        <h3 class="jobs-header">Available Positions</h3>
        <div *ngFor="let job of allJobs" class="each-job row" type="button" data-toggle="modal" data-target="#modal-each-job" (click)="selectJob(job)">
            <div class="col-sm-3"><p class="bold-text">Position:</p><span>{{job.position}}</span></div>
            <div class="col-sm-3"><p class="bold-text">Location:</p><span>{{job.city}}, {{job.state}}</span></div>
            <div class="col-sm-3"><p class="bold-text">Description:</p><span>{{job.description}}</span></div>
            <div class="col-sm-3"><p class="bold-text">Skills:</p><span *ngFor="let i of job.requiredSkills">{{i}}, </span></div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>





<!-- #modal-each-job -->
<div *ngIf="selectedJob" class="modal fade" id="modal-each-job" tabindex="-1" role="dialog" aria-labelledby="modal-job-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-job-label">Details for <span class="underline">{{selectedJob.position}}</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">

                <h3>Register to see more details</h3>
                <h4>& to apply for this position!</h4>

                <div class="register-ad row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <ul class="text-left">
                            <li>Job Description</li>
                            <li>Required Skills</li>
                            <li>Contact Information</li>
                            <li>& more!</li>
                        </ul>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <button class="btn btn-lg btn-primary left-button" (click)="register('dev')">Register as a<br>Developer</button>
                <button class="btn btn-lg btn-primary" (click)="register('org')">Register as an<br>Employer</button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>

        </div>
    </div>
</div>
<!-- end #modal-each-job -->
