
<div class="row">




    <!-- left-col: #div-showMyJobs (default) -->
    <!-- left-col: #div-showMyJobs (default) -->
    <!-- left-col: #div-showMyJobs (default) -->
    <div *ngIf="!addJobForm" class="col col-sm-4" id="div-showMyJobs">


        <!-- header -->
        <div id="div-myJobs-header" class="row">
            <div class="col-sm-12">
                <button id="button-toggle-addJobForm" class="btn btn-lg btn-primary" (click)="toggleAddJobForm()"><span class="center-text">Add New Position</span></button>
            </div>
        </div>
        <!-- end #div-myJobs-header -->




        <!-- display my jobs -->
        <div id="div-myJobsList">

            <table class="table table-hover table-borderless table-striped">

                <tbody>
                    <!-- fake job 1 -->
                    <tr (click)="showMyJob('42')">
                        <td class="one-of-my-jobs">Job 1</td>
                    </tr>
                    <!-- fake job 2 -->
                    <tr (click)="showMyJob('1337')">
                        <td class="one-of-my-jobs">l33t hax0r</td>
                    </tr>
                    <!-- fake job 3 -->
                    <tr (click)="showMyJob('69696969')">
                        <td class="one-of-my-jobs">People's Champ</td>
                    </tr>

                    <tr *ngFor="let job of myInfo.jobs" (click)="showMyJob(job_.id)">
                        <td class="one-of-my-jobs">{{job.position}}</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
    <!-- end left-col: #div-showMyJobs (default) -->
    <!-- end left-col: #div-showMyJobs (default) -->
    <!-- end left-col: #div-showMyJobs (default) -->






    <!-- left-col: #div-addJobForm (option 2) -->
    <!-- left-col: #div-addJobForm (option 2) -->
    <!-- left-col: #div-addJobForm (option 2) -->
    <div *ngIf="addJobForm" class="col col-sm-4" id="div-addJobForm">

        <!-- header -->
        <div id="div-addJobForm-header" class="row">
            <div class="col-sm-12">
                <button id="btn-toggle-cancelAddJob" class="btn btn-sm btn-danger" (click)="toggleAddJobForm()">x</button>
            </div>
        </div>
        <!-- end header -->


        <!-- the addJob form -->
        <div id="div-the-addJobForm">
            <p>addJobForm.value|json {{addJobForm.value | json}}</p>

            <form #addJobForm="ngForm">

                <!-- position -->
                <div class="form-group row">
                    <div class="col col-sm-4">
                        <label for="position">
                            <span class="bold-text">Position:</span>
                        </label>
                    </div>
                    <div class="col col-sm-8">
                        <input class="form-control" id="position" name="position" type="text" required [(ngModel)]="newJob.position">
                    </div>
                </div>

                <!-- description -->
                <div class="form-group row">
                    <div class="col col-sm-4">
                        <label for="description">
                            <span class="bold-text">Description:</span>
                        </label>
                    </div>
                    <div class="col col-sm-8">
                        <textarea class="form-control" id="description" name="description" required [(ngModel)]="newJob.description"></textarea>
                    </div>
                </div>

                <!-- show required skills -->
                <div class="form-group row">
                    <div class="col col-sm-4">
                        <label for="required-skills">Required Skills:</label>
                    </div>
                </div>
                <div class="col col-sm-7" id="required-skills">
                    <figure *ngFor="let skill of newJob.skills" class="figure">
                        <img class="figure-img skill" src="assets/img/{{skill}}.png">
                        <figcaption *ngIf="skill != 'Csharp'" class="figure-caption">{{skill}}</figcaption>
                        <figcaption *ngIf="skill == 'Csharp'" class="figure-caption">C#</figcaption>
                    </figure>
                </div>

                <!-- add skill -->
                <div class="form-group row">
                    <div class="col col-sm-4">
                        <label for="skills">
                            <span class="bold-text">Add Required Skills:</span>
                        </label>
                    </div>
                    <div class="col col-sm-7" id="skills">
                        <figure *ngFor="let language of languages" class="figure" (click)="addRequiredSkill(language)">
                            <img class="figure-img skill" src="assets/img/{{language}}.png">
                            <figcaption *ngIf="language != 'Csharp'" class="figure-caption">{{language}}</figcaption>
                            <figcaption *ngIf="language == 'Csharp'" class="figure-caption">C#</figcaption>
                        </figure>
                        <figure *ngFor="let framework of frameworks" class="figure" (click)="addRequiredSkill(framework)">
                            <img class="figure-img skill" src="assets/img/{{framework}}.png">
                            <figcaption class="figure-caption">{{framework}}</figcaption>
                        </figure>
                    </div>
                </div>

                <button class="btn btn-sm btn-danger" id="button-cancel" (click)="toggleAddJobForm()">Cancel</button>
                <button class="btn btn-sm btn-success" id="button-submitNewJob" (click)="submitNewJob()">Add This Position</button>

            </form>

        </div>
        <!-- end the addJob form -->

    </div>

    <!-- end left-col: #div-addJobForm (option 2) -->
    <!-- end left-col: #div-addJobForm (option 2) -->
    <!-- end left-col: #div-addJobForm (option 2) -->










    <!-- right-col: showAllDevs (default) -->
    <!-- right-col: showAllDevs (default) -->
    <!-- right-col: showAllDevs (default) -->

    <div class="col col-sm-7" id="div-showAllDevs" *ngIf="showAllDevs">

        <!-- #div-showDevs-header -->
        <div id="div-showDevs-header" class="row">

            <div class="col-sm-7">
                <span class="big-header-text bold-text">All Developers</span>
                <br><span>(Click on a developer to view/edit)</span>
            </div>

            <div class="col-sm-5">
                <!-- this button hides #div-showAllJobs && shows #div-showAllOrgs -->
                <button class="btn btn-sm btn-outline-success toggle disabled" (click)="showDevs()" disabled aria-disabled="true">Show All Devs</button>
                <button class="btn btn-sm btn-success toggle" (click)="showOrgs()">Show All Orgs</button>
                <button class="btn btn-sm btn-success toggle" (click)="showJobs()">Show All Jobs</button>
            </div>
        </div>
        <!-- end #div-showDevs-header -->



        <div id="div-showDevs-body">

            <!-- display each dev -->
            <table class="table table-hover table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dev of allDevs" (click)="showMeADev(dev._id)">
                        <td>{{dev.fname}} {{dev.lname}}</td>
                        <td>
                            <figure *ngFor="let skill of dev.skills" class="figure col-sm-2">
                                <img class="figure-img skill-icon" src="assets/img/{{skill}}.png">
                                <figcaption *ngIf="skill != 'Csharp'" class="figure-caption">{{skill}}</figcaption>
                                <figcaption *ngIf="skill == 'Csharp'" class="figure-caption">C#</figcaption>
                            </figure>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <!-- end #div-showDevs-body -->


    </div>
    <!-- end right-col: #div-showAllDevs -->
    <!-- end right-col: #div-showAllDevs -->
    <!-- end right-col: #div-showAllDevs -->










    <!-- right-col: show allOrgs (option 2 of 3) -->
    <!-- right-col: show allOrgs (option 2 of 3) -->
    <!-- right-col: show allOrgs (option 2 of 3) -->

    <div class="col-sm-7" id="div-showAllOrgs" *ngIf="showAllOrgs">

        <div id="div-showOrgs-header" class="row">
            <div class="col-sm-7">
                <h3>All Organizations</h3>
            </div>


            <!-- this button hides #div-showAllOrgs && shows #div-showAllJobs -->
            <div class="col-sm-5">
                <button class="btn btn-sm btn-success toggle" (click)="showDevs()">Show All Devs</button>
                <button class="btn btn-sm btn-outline-success toggle disabled" (click)="showOrgs()" disabled aria-disabled="true">Show All Orgs</button>
                <button class="btn btn-sm btn-success toggle" (click)="showJobs()">Show All Jobs</button>
            </div>

        </div> <!-- end #div-myInfo-header -->


        <div id="div-showOrgs-body">
            <p>lol this is #div-showOrgs-body</p>


            <!--&lt;!&ndash; temp test job for display &ndash;&gt;-->
            <!--<div class="div-org row" (click)="showOrgDetail('1337')">-->
                <!--<div class="col-sm-4"><p class="bold-text">Org Name<p><p>Jabroni, Corp.</p></div>-->
                <!--<div class="col-sm-5"><p class="bold-text">Location</p><p>Los Angeles, CA</p></div>-->
                <!--<div class="col-sm-3"><p class="bold-text">Available Positions</p><p>3</p></div>-->
            <!--</div>-->

            <!--<div class="div-org row" (click)="showOrgDetail('69696969')">-->
                <!--<div class="col-sm-4"><p class="bold-text">Org Name</p><p>Yo Mama</p></div>-->
                <!--<div class="col-sm-5"><p class="bold-text">Location</p><p>All up in dem guts</p></div>-->
                <!--<div class="col-sm-3"><p class="bold-text">Available Positions</p><p>5+</p></div>-->
            <!--</div>-->

            <!--&lt;!&ndash; display each jeob &ndash;&gt;-->
            <!--<div class="div-org row" *ngFor="let org of allOrgs" (click)="showOrgDetail(org._id)">-->
                <!--&lt;!&ndash;{{org}}&ndash;&gt;-->
                <!--<div class="col-sm-4"><p class="bold-text">Org Name</p><p>{{org.orgName}}</p></div>-->
                <!--<div class="col-sm-5"><p class="bold-text">Location</p><p>{{org.city}}, {{org.state}}</p></div>-->
                <!--<div class="col-sm-3"><p class="bold-text">Available Positions</p><p>{{org.jobs.length}}</p></div>-->
            <!--</div>-->


        </div>
        <!-- end #div-showOrgs-body -->

    </div>
    <!-- end right-col: #div-showAllOrgs -->
    <!-- end right-col: #div-showAllOrgs -->
    <!-- end right-col: #div-showAllOrgs -->









    <!-- right-col: showAllJobs (option 3 of 3) -->
    <!-- right-col: showAllJobs (option 3 of 3) -->
    <!-- right-col: showAllJobs (option 3 of 3) -->

    <div class="col-sm-7" id="div-showAllJobs" *ngIf="showAllJobs">

        <div id="div-showJobs-header" class="row">
            <div class="col-sm-7">
                <h3 class="showOrgs-header">All Jobs</h3>
            </div>

            <!-- this button hides #div-showAllOrgs && shows #div-showAllJobs -->
            <div class="col-sm-5">
                <button class="btn btn-sm btn-success toggle" (click)="showDevs()">Show All Devs</button>
                <button class="btn btn-sm btn-success toggle" (click)="showOrgs()">Show All Orgs</button>
                <button class="btn btn-sm btn-outline-success toggle disabled" disabled aria-disabled="true">Show All Jobs</button>
            </div>

        </div> <!-- end #div-myInfo-header -->


        <div id="div-showJobs-body">
          <p>lol this is #div-showJobs-body</p>
        </div>
        <!-- end #div-showJobs-body -->

    </div>
    <!-- end right-col: showAllJobs -->
    <!-- end right-col: showAllJobs -->
    <!-- end right-col: showAllJobs -->

</div>
<!-- end row/container -->






<!-- #add-job-form -->
<!-- #add-job-form -->
<!-- #add-job-form -->

<!--<div class="row" id="add-job-form">-->
    <!--<h3>Add a Position</h3>-->


    <!--<form #newJobForm="ngForm">-->
        <!--<p>{{ newJobForm.value | json }}</p>-->


        <!--&lt;!&ndash; row 0: position name &ndash;&gt;-->
        <!--<div class="form-group">-->
            <!--<label for="positionName">-->
                <!--<span class="bold-text">Name </span>-->
                <!--<span *ngIf="!positionName.valid" class="validation"> *Required</span>-->
            <!--</label>-->
            <!--<input class="form-control" id="positionName" name="positionName" type="text" required minlength="4" [(ngModel)]="newJob.position" #positionName="ngModel">-->
        <!--</div>-->

        <!--&lt;!&ndash; row 1: description &ndash;&gt;-->
        <!--<div class="form-group">-->
            <!--<label for="positionDescription">-->
                <!--<span class="bold-text">Description: </span>-->
                <!--<span *ngIf="!positionDescription.valid" class="validation"> *Required</span>-->
            <!--</label>-->
            <!--<input class="form-control" id="positionDescription" name="positionDescription" type="textarea" required [(ngModel)]="newJob.description" #positionDescription="ngModel">-->
        <!--</div>-->


        <!--&lt;!&ndash; row 2: required skills &ndash;&gt;-->

        <!--&lt;!&ndash; my selected skills &ndash;&gt;-->
        <!--<div class="row" id="my-required-skills">-->
            <!--<p>My selected skillz</p>-->
            <!--<figure *ngFor="let skill of newJob.skills" class="col-sm-2">-->
                <!--<img class="figure-img" src="assets/img/{{skill}}.png">-->
            <!--</figure>-->
        <!--</div>-->



        <!--<div class="form-group">-->

            <!--&lt;!&ndash; load each image with caption &ndash;&gt;-->
            <!--<figure *ngFor="let skill of allSkills" class="figure col-sm-3" (click)="addRequiredSkill(skill)">-->
                <!--<img class="figure-img" src="assets/img/{{skill}}.png">-->
                <!--<figcaption *ngIf="skill != 'Csharp'" class="figure-caption">{{skill}}</figcaption>-->
                <!--<figcaption *ngIf="skill == 'Csharp'" class="figure-caption">C#</figcaption>-->
            <!--</figure>-->
        <!--</div>-->




        <!--<button class="btn btn-lg btn-success float-right" (click)="createNewJob()">Add Position</button>-->
        <!--<button (click)="showMeSkills()">Show me skills</button>-->
    <!--</form>-->
<!--</div>-->
<!-- end #add-job-form -->
<!-- end #add-job-form -->
<!-- end #add-job-form -->
