
/* left-col: showMyJobs (default) */

#div-showMyJobs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
    margin-left: 20px;
}

#div-myJobs-header {
    padding: 10px;
}
#button-toggle-addJobForm {
    width: 100%;
}

#div-myJobsList {
    /* this is the container that will hold a list of all my jeobs */
}
.one-of-my-jobs {
    color: blue;
    text-decoration: underline;
}

/* end left-col: showMyJobs (default) */




/* left-col: addJobForm (option 2) */
#div-addJobForm {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
    padding: 10px;
}
#div-addJobForm-header {
    padding: 10px;
}
#btn-toggle-cancelAddJob {
    float: right;
    margin: 10px;
}
#div-the-addJobForm {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
}
.skill {
    width: 30px;
    height: auto;
    margin: 10px;
}
#button-cancel {
    float: right;
    margin: 10px;
}
#button-submitNewJob {
    float: right;
    margin: 10px;
}
#div-required-skills {
    border: 1px solid black;
    border-radius: 9px;
    padding: 5px;
    margin-left: 10px;
}
.show-required-skill-figure {
    /* this is the figure for each skill displayed in "Required Skills" */
}
.show-required-skill-img {
    height: 25px;
    width: auto;
}
.add-required-skill-figure:hover {
    cursor: alias;
}
.add-required-skill-img {
    height: 30px;
    width: auto;
}
/* end left-col: addJobForm (option 2) */





.toggle {
    /* this class comprises the buttons that toggle between displaying all home-devs/orgs */
    margin: 5px;
}





/* right col: showAllDevs (default) */
#div-showAllDevs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
}
#div-showDevs-header {
    padding: 10px;
}

#list-allDevs {
    /* this is the ul that contains li's of each dev */
    margin-bottom: 10px;
}
.table tr:hover {
    cursor: pointer;
}
.each-dev-col {
    display: inline-block;
}
.avatar {
    width: 100px;
    height: 100px;
}
.skill-icon {
    /*height: 80px;*/
    margin-top: 15px;
    height: 50px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
/* end right-col: showAllDevs (default) */








/* right-col: showAllOrgs (option 2) */
#div-showAllOrgs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
}
#div-showOrgs-header {
    padding: 10px;
}
.div-org {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 9px;
}
/* end right-col: showAllOrgs (option 2) */




/* misc style */
.big-header-text {
    font-size: x-large;
}
.bold-text {
    font-weight: bold;
}
.center-text {
    text-align: center;
}
.position-count {
    width: 100%;
    text-align: center;
}
.job-match {
    width: 100%;
    text-align: center;
}
.blue-text {
    color: blue;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}
.validation {
    color: red;
}
/* end misc style */