

#div-showMyJobs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
    margin-left: 20px;
}

#div-myJobs-header {
    padding: 10px;
}

#list-myJobs {
    margin-bottom: 10px;
}
.one-of-my-jobs {
    color: blue;
    text-decoration: underline;
}
.my-jobs-header {
    display: inline-block;
}





.toggle {
    /* this class comprises the buttons that toggle between displaying all devs/orgs/jobs */
    margin: 5px;
}





#div-showAllDevs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
}
#div-showDevs-header {
    padding: 10px;
}

#list-allDevs {
    /* this is the ul that contains li's of each dev */
    margin-bottom: 10px;
}

.each-dev-col {
    display: inline-block;
}


.lol {

}






#div-showAllJobs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
}


#div-showJobs-header {
    padding: 10px;
}

.div-job {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 9px;
}







#div-showAllOrgs {
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
}


#div-showOrgs-header {
    padding: 10px;
}

.div-org {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 9px;
}






.big-header-text {
    font-size: x-large;
}
.bold-text {
    font-weight: bold;
}
.center-text {
    text-align: center;
}
.position-count {
    width: 100%;
    text-align: center;
}
.job-match {
    width: 100%;
    text-align: center;
}
.blue-text {
    color: blue;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.skill-icon {
    width: 25px;
    height: 25px;
}


.validation {
    color: red;
}


img {
    /*height: 80px;*/
    margin-top: 15px;
    height: 50px;
    width: 50px;
    margin-right: auto;
    margin-left: auto;
}
.figure-img:hover {
    cursor: pointer;
}

#my-required-skills {
    border: 1px solid black;
}