
.navbar {
    clear: both;
}
.navbar-brand:hover {
    cursor: pointer;
}
.nav-item:hover {
    cursor: pointer;
}
#link-sign-up {
    color: cornflowerblue;
}
#link-sign-up:hover {
    cursor: pointer;
    /*color: cornflowerblue;*/
}