<div>
    <!-- template -->

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: cornflowerblue">
        <!-- left side of navbar -->
        <a class="navbar-brand" (click)="clickComp('splash')">devJobs</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="clickComp('jobs')">Find Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="clickComp('devs')">Find Developers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" data-toggle="modal" data-target="#modal-signup">Sign Up</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" (click)="clickComp('test')">testComp</a>-->
                <!--</li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0" #navLogin="ngForm">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" name="email" required [(ngModel)]="quickLogin.email">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="pw" required [(ngModel)]="quickLogin.pw">
                <div class="navbar-nav flex-row">
                    <div class="nav-item">
                        <a *ngIf="navLogin.valid" class="nav-link" type="button" (click)="logMeIn(quickLogin)">Login</a>
                        <a *ngIf="!navLogin.valid" class="nav-link" type="button" data-toggle="modal" data-target="#modal-login">Login</a>
                    </div>
                </div>
            </form>
        </div>


        <!-- right side of navbar -->
        <div class="d-flex flex-row order-2 order-lg-3 ml-auto">

            <!--<ul class="navbar-nav flex-row">-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" (click)="clickComp('register-dev')">Sign Up</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" data-toggle="modal" data-target="#modal-login">Log In</a>-->
                <!--</li>-->
            <!--</ul>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- end right side of navbar -->
    </nav>
    <!-- end navbar -->
    <!-- end navbar -->
    <!-- end navbar -->


    <button class="btn btn-sm btn-outline-primary" (click)="printUser()">print current user value</button>
        <!--<button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-login">modal-login</button>-->
    <button class="btn btn-sm btn-outline-primary" (click)="printQuickSignUp()">print quickSignUp value</button>



    <div>
        <app-home-splash *ngIf="displayThisComp === 'splash'"></app-home-splash>
        <app-home-jobs *ngIf="displayThisComp ==='jobs'"></app-home-jobs>
        <app-home-devs *ngIf="displayThisComp ==='devs'"></app-home-devs>
        <app-home-register-dev *ngIf="displayThisComp === 'register-dev'"></app-home-register-dev>
        <app-home-register-org *ngIf="displayThisComp === 'register-org'"></app-home-register-org>
        <app-test-comp *ngIf="displayThisComp === 'test'"></app-test-comp>
    </div>
    <!-- end template -->




    <!--modals -->
    <!--modals -->
    <!--modals -->


    <!-- #modal-signup -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-signup" aria-labelledby="modal-signup-label" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-signup-label">Sign Up!</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form #quickSignup="ngForm">
                        <!-- fname -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="fname" id="fname" [(ngModel)]="quickSignUp.fname" required placeholder="First Name">
                        </div>
                        <!-- lname -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="lname" id="lname" [(ngModel)]="quickSignUp.lname" required placeholder="Last Name">
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" id="email" [(ngModel)]="quickSignUp.email" required placeholder="Email">
                        </div>
                        <!-- pw -->
                        <div class="form-group">
                            <input class="form-control" type="password" name="pw" id="password" [(ngModel)]="quickSignUp.pw" required placeholder="Password">
                        </div>
                        <!-- accountType -->
                        <div class="form-group row align-middle" id="choose">
                            <div class="col-sm-5" id="choose-dev-org">
                                <span class="bold-text">I'm a(n):</span>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="accountType" id="dev" value="dev" [(ngModel)]="quickSignUp.accountType" required>
                                    <label class="form-check-label" for="dev">Developer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="accountType" id="org" value="org" [(ngModel)]="quickSignUp.accountType" required>
                                    <label class="form-check-label" for="org">Employer</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" data-toggle="modal" data-target="#modal-login" id="link-login">Login Instead</a>
                    <button *ngIf="quickSignup.valid && quickSignUp.accountType === 'dev'" class="btn btn-lg btn-success float-right" role="button" data-dismiss="modal" data-toggle="modal" data-target="#modal-dev-details">Register</button>
                    <button *ngIf="quickSignup.valid && quickSignUp.accountType === 'org'" class="btn btn-lg btn-success float-right" role="button" data-dismiss="modal" data-toggle="modal" data-target="#modal-org-details">Register</button>
                    <button *ngIf="!quickSignup.valid" class="btn btn-lg btn-outline-success float-right disabled" disabled="disabled" role="button">Register</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-signup -->



    <!-- #modal-dev-details -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-dev-details" aria-labelledby="modal-dev-details-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-dev-details-label">Tell Us About Yourself</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-home-dev-details></app-home-dev-details>
                </div>
                <div class="modal-footer">
                    <!--<a data-dismiss="modal" data-toggle="modal" data-target="#modal-signup" id="link-sign-up">Sign Up</a>-->
                    <!--<button type="button" class="btn btn-secondary btn-outline-danger" data-dismiss="modal">Close</button>-->
                    <button class="btn btn-sm btn-primary" role="button" (click)="registerMe()">Skip This and Register</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-dev-details-->



    <!-- #modal-org-details -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-org-details" aria-labelledby="modal-org-details-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-org-details-label">Tell Us About Yourself</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-home-org-details></app-home-org-details>
                </div>
                <div class="modal-footer">
                    <!--<a data-dismiss="modal" data-toggle="modal" data-target="#modal-signup" id="link-sign-up">Sign Up</a>-->
                    <button type="button" class="btn btn-secondary btn-outline-danger" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-dev-details-->




    <!-- #modal-login -->
    <div class="modal" role="dialog" tabindex="-1" id="modal-login" aria-labelledby="modal-login-label" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-login-label">Log In</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="login-form" #loginForm="ngForm">
                        <!--<p>{{ loginForm.value | json }}</p>-->
                        <div class="form-group">
                            <input type="email" class="form-control" id="login-email" required placeholder="Email" [(ngModel)]="login.email" name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="login-password" required placeholder="Password" [(ngModel)]="login.pw" name="pw">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" data-toggle="modal" data-target="#modal-signup" id="link-sign-up">Sign Up Now</a>
                    <!--<button type="button" class="btn btn-secondary btn-outline-danger" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-lg btn-success float-right" (click)="logMeIn(login)">Go!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-login-->

</div>