<!-- template -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: cornflowerblue">
    <!-- left side of navbar -->
    <a class="navbar-brand" (click)="clickComp('splash')">devJobs</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="clickComp('jobs')">Find Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="clickComp('devs')">Find Developers</a>
            </li>
        </ul>
    </div>
    <!-- end left side of navbar -->

    <!-- right side of navbar -->
    <div class="d-flex flex-row order-2 order-lg-3 ml-auto">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" (click)="displayThisComp = 'register-dev'">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#modal-login">Log In</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- end right side of navbar -->
</nav>
<!-- end navbar -->
<!-- end navbar -->
<!-- end navbar -->

<div>
    <app-home-splash *ngIf="displayThisComp === 'splash'"></app-home-splash>
    <app-home-jobs *ngIf="displayThisComp ==='jobs'"></app-home-jobs>
    <app-home-devs *ngIf="displayThisComp ==='devs'"></app-home-devs>
    <app-home-register-dev *ngIf="displayThisComp === 'register-dev'"></app-home-register-dev>
    <app-home-register-org *ngIf="displayThisComp === 'register-org'"></app-home-register-org>
</div>
<!-- end template -->




<!--modals -->
<!--modals -->
<!--modals -->

<!-- #modal-login -->
<div class="modal fade" role="dialog" tabindex="-1" id="modal-login" aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-login-label">Log In</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <app-home-login></app-home-login>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                <a data-toggle="modal" data-target="#modal-register" id="register-link">Register with devJobs</a>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-login-->


<!-- #modal-register-dev -->
<div class="modal fade" id="modal-register-dev" tabindex="-1" role="dialog" aria-labelledby="modal-register-dev-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <!--<h3 class="modal-title" id="modal-job-label">Position: {{selectedJob.position}}</h3>-->
                <h3 class="modal-title" id="modal-register-dev-label">Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <app-home-register-dev></app-home-register-dev>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<!-- end #modal-register-dev -->


<!-- #modal-register-org -->
<div class="modal fade" role="dialog" id="modal-register-org" tabindex="-1" aria-labelledby="modal-register-org-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-register-org-label">Register Your Organization</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <app-home-register-org></app-home-register-org>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-lg btn-success" (click)="registerOrg()"></button>-->
                <!--<a data-toggle="modal" data-target="#modal-register">Register with devJobs</a>-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-register-org-->

