

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.modal-open {
    overflow: hidden !important;
}
.navbar {
    clear: both;
}
.navbar-brand:hover {
    cursor: pointer;
}
.nav-item:hover {
    cursor: pointer;
}
#link-sign-up {
    color: cornflowerblue;
}
#link-sign-up:hover {
    cursor: pointer;
}
#link-login {
    color: cornflowerblue;
}
#link-login:hover {
    cursor: pointer;
}