
.div-my-header {
    margin: 20px auto 10px auto;
    display: block;
}
.my-header {
    margin: 10px auto;
    display: block;
}
.page-title {
    margin: 30px 0;
}
#skills-page-title {
    margin-left: 5%;
}
.cornflowerblue-border {
    border: 1px solid cornflowerblue;
    border-radius: 9px;
}
.each-language {
    /* each of the icons displayed for language | framework */
    width: 30px;
    height: auto;
}
.skills-border {
    border-radius: 9px;
    border: 1px solid cornflowerblue;
    min-height: 100px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}
#bio {
    width: 100%;
}
.submit-button {
    margin: 20px 0 20px 10px;
}
.carousel-indicators {
    bottom: -20px;
}
.carousel-indicators li {
    background-color: darkgray;
}
.carousel-indicators .active {
    background-color: cornflowerblue;
}
.carousel-control-prev .active {
    background-color: cornflowerblue;
}
.carousel-control-next .active {
    background-color: cornflowerblue;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6495ed' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6495ed' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
body, .carousel,.item,.active{
    height:100%;
}
.carousel-inner{
    height:100%;
}
.underline {
    text-decoration: underline;
}
.bold-text {
    font-weight: bold;
}
.validation {
    color: red;
}