.container-fluid {
    padding: 10px;
}

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.row {
}

.section-header {
    text-align: center;
    padding: 20px;
}

.org-instead {
    margin-top: 80px;
}

.signup {
    padding: 20px;
    float: none;
    margin: 0 auto;
}
.login {
    padding: 20px;
}

.validation {
    color: red;
}

img {
    width: 100%
}