<div class="container-fluid">

    <div id="header-welcome">
        <h1>Welcome!</h1>
        <p id="intro">Let's find you a new project</p>
    </div>

    <!-- a row of two forms: signup and login -->
    <div class="row">

        <!-- first col-sm-7: signup form -->
        <div id="div-signup-form" class="col col-sm-7">

            <!-- show this header on all 3 "pages" of the signup form -->
            <div id="common-header" class="align-midddle">Register</div>
            <div id="org-instead" class="align-middle"><a href="/signup/org">(Register as Organization?)</a></div>

            <form #newDevForm="ngForm">


                <!-- #signup-1 == "page" 1 of #newDevForm -->
                <div id="signup-1" [hidden]="!showP1">
                    <!--<p>{{ newDevForm.value | json }}</p>-->

                    <!-- row 1: fname && lname -->
                    <div class="form-group row">
                        <div class="col col-sm-6">
                            <label for="fname">
                                <span class="bold-text">First Name:</span>
                                <span *ngIf="!fname.valid" class="validation"> *Required</span>
                            </label>
                            <input class="form-control" id="fname" name="fname" type="text" required [(ngModel)]="newDev.fname" #fname="ngModel">

                        </div>
                        <div class="col col-sm-6">
                            <label for="lname">
                                <span class="bold-text">Last Name:</span>
                                <span *ngIf="!lname.valid" class="validation"> *Required</span>
                            </label>
                            <input class="form-control" id="lname" name="lname" type="text" required [(ngModel)]="newDev.lname" #lname="ngModel">
                        </div>
                    </div>

                    <!-- row 2: email -->
                    <div class="form-group row">
                        <div class="col col-sm-12">
                            <label for="email">
                                <span class="bold-text">Email:</span>
                                <span *ngIf="!email.valid" class="validation"> *Required</span>
                            </label>
                            <input class="form-control" type="text" id="email" name="email" required [(ngModel)]="newDev.email" #email="ngModel">
                        </div>
                    </div>

                    <!-- row 3: address -->
                    <div class="form-group row">
                        <div class="col col-sm-12">
                            <label for="address">
                                <span class="bold-text">Address:</span>
                                <span *ngIf="!address.valid" class="validation"> *Required</span>
                            </label>
                            <input class="form-control" type="text" id="address" name="address" required [(ngModel)]="newDev.address" #address="ngModel">
                        </div>
                    </div>

                    <!-- row 4: city && state && zip -->
                    <div class="form-group row">
                        <div class="col col-sm-5">
                            <label for="city">
                                <span class="bold-text">City:</span>
                                <span *ngIf="!city.valid" class="validation"> *Required</span>
                            </label>
                            <input class="form-control" type="text" id="city" name="city" required [(ngModel)]="newDev.city" #city="ngModel">
                        </div>
                        <div class="col col-sm-3">
                            <label for="State">
                                <span class="bold-text">State:</span>
                                <span *ngIf="!state.valid" class="validation"> *Required</span>
                            </label>
                            <select class="form-control" id="state" name="state" required [(ngModel)]="newDev.state" #state="ngModel">
                                <option *ngFor="let state of states">
                                    {{ state }}
                                </option>
                            </select>
                        </div>
                        <div class="col col-sm-4">
                            <label for="zip">
                                <span class="bold-text">Zip Code:</span>
                                <span *ngIf="!zip.valid" class="validation"> *Required</span>
                            </label>
                            <input class="form-control" type="number" id="zip" name="zip" required [(ngModel)]="newDev.zip" #zip="ngModel">
                        </div>
                    </div>

                    <!-- row 5: pw && cpw -->
                    <div class="form-group row">
                        <div class="col col-sm-6">
                            <label for="pw">
                                <span class="bold-text">Password:</span>
                                <span *ngIf="!pw.valid" class="validation"> *Required (min. 8 char.)</span>
                            </label>
                            <input class="form-control" type="password" id="pw" name="pw" required minlength="8" [(ngModel)]="newDev.pw" #pw="ngModel">
                        </div>
                        <div class="col col-sm-6">
                            <label for="cpw">
                                <span class="bold-text">Confirm Password:</span>
                                <span *ngIf="!newDev.pw || newDev.pw != newDev.cpw" class="validation"> *Passwords must match</span>
                            </label>
                            <input class="form-control" type="password" id="cpw" name="cpw" required [(ngModel)]="newDev.cpw" #cpw="ngModel">
                        </div>
                    </div>

                </div> <!-- end #signup-1 -->



                <!-- #signup-2 == "page" 2 of #newDevForm -->
                <div id="signup-2" [hidden]="!showP2">
                    <!--<p>{{ newDevForm.value | json }}</p>-->

                    <!-- row 1: Top 5 Languages -->
                    <div class="form-group row">
                        <!-- header -->
                        <div class="col col-sm-6">
                            <h2 id="header-pick-top-5">Pick Your Top 5 Languages</h2>
                        </div>

                        <!-- my selected languages -->
                        <div class="col col-sm-6">
                            <div class="my-5-languages row">
                                <figure *ngFor="let language of newDev.languages" class="figure text-center">
                                    <img class="figure-img each-of-my-languages" src="assets/img/{{language}}.png">
                                    <figcaption *ngIf="language == 'Csharp'" class="figure-caption">C#</figcaption>
                                    <figcaption *ngIf="language != 'Csharp'" class="figure-caption">{{language}}</figcaption>
                                </figure>
                            </div>
                        </div>

                    </div> <!-- end row 1 -->



                    <!-- row 2: Array of avail lang icons and short bio -->
                    <div class="form-group row">

                        <!-- select 5 languages from here -->
                        <div class="col-sm-7 icon-array">
                            <!-- load each image with caption -->
                            <figure *ngFor="let language of languages" class="figure col-sm-3" (click)="addLanguage(language)">
                                <img class="figure-img" src="assets/img/{{language}}.png">
                                <figcaption *ngIf="language != 'Csharp'" class="figure-caption">{{language}}</figcaption>
                                <figcaption *ngIf="language == 'Csharp'" class="figure-caption">C#</figcaption>
                            </figure>
                        </div> <!-- end div.icon-array -->

                        <!-- add your bio-->
                        <div class="col-sm-5 add-bio">
                            <label for="bio" id="bio-label">
                                <span class="bold-text bio">Short Bio</span>
                            </label><br>
                            <textarea id="bio" name="bio" [(ngModel)]="newDev.bio" #bio="ngModel" placeholder="Add more about yourself here..."></textarea>
                        </div>

                    </div> <!-- end row 2 -->

                </div> <!-- end #signup-2 -->





                <!-- #signup-3 "page" 3 of #newDevForm -->
                <div id="signup-3" [hidden]="!showP3">
                    <!--{{ newDevForm.value | json }}-->

                    <!-- row 1: Top 5 Frameworks -->
                    <div class="form-group row">
                        <!-- header -->
                        <div class="col-sm-7">
                            <h2 class="pick-top-5">Pick Your Top 5 Frameworks/Libraries</h2>
                        </div>

                        <!-- my selected languages -->
                        <div class="col-sm-5">
                            <div class="my-5-languages row">
                                <figure *ngFor="let framework of newDev.frameworks" class="">
                                    <img class="figure-img each-of-my-languages" src="assets/img/{{framework}}.png">
                                    <figcaption
                                </figure>
                            </div>
                        </div>

                    </div> <!-- end row 1 -->


                    <!-- row 2: Array of avail frameworks/libs icons and short bio -->
                    <div class="form-group row">

                        <!-- select 5 frameworks/libraries from here -->
                        <div class="col-sm-7 icon-array">
                            <!-- load each image with caption -->
                            <figure *ngFor="let framework of frameworks" class="figure col-sm-3" (click)="addFramework(framework)">
                                <img class="figure-img" src="assets/img/{{framework}}.png">
                                <figcaption class="figure-caption">{{framework}}</figcaption>
                            </figure>
                        </div> <!-- end div.icon-array -->

                        <!-- show bio from previous screen -->
                        <div class="col-sm-5 add-bio">
                            <p class="thanks">Thanks for entering all your details. It will help us match you with jobs.</p>
                            <p class="thanks">Click "Register" below to create your account!</p>
                        </div>

                    </div> <!-- end row 2 -->

                </div>


                <button *ngIf="!showP1" class="btn btn-lg btn-primary" (click)="previous()">Previous</button>
                <button *ngIf="showP1" class="btn btn-lg btn-outline-primary disabled" disabled="disabled">Previous</button>

                <button *ngIf="!showP3" class="btn btn-lg btn-primary next-button" (click)="next()">Next</button>
                <button *ngIf="showP3" class="btn btn-lg btn-outline-primary next-button disabled" disabled="disabled">Next</button>


                <button *ngIf="showP3" class="btn btn-lg btn-success float-right" (click)="registerDev()">Register</button>
                <button *ngIf="!showP3" class="btn btn-lg btn-outline-success float-right disabled" disabled="disabled">Register</button>
            </form>

        </div>
        <!-- end #div-signup-form -->

    </div>
    <!-- end row -->


</div>