<p>
  devs works!
</p>

<button class="btn btn-lg btn-warning" (click)="printAllDevs()">print current this.allDevs</button>


<div *ngIf="allDevs">
    <div *ngFor="let dev of allDevs" class="each-dev row" type="button" data-toggle="modal" data-target="#modal-each-dev">
        <div class="col-sm-3">Name:<br>{{dev.fname}} {{dev.lname}}</div>
        <div class="col-sm-3">Location:<br>{{dev.city}}, {{dev.state}}</div>
        <div class="col-sm-3">Email:<br>{{dev.email}}</div>
        <div class="col-sm-3">Skills:<br><span *ngFor="let i of dev.skills">{{i}}, </span></div>
    </div>
</div>


<!-- #modal-each-dev -->
<div class="modal fade" id="modal-each-dev" tabindex="-1" role="dialog" aria-labelledby="modal-job-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-job-label">this is a dev</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>this is the body</p>
                <p>Register to see more!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>

        </div>
    </div>
</div>
<!-- end #modal-each-job -->