* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container-fluid {
    margin: 20px auto;
}

.header {
    background-color: saddlebrown;
    height: 35px;
}
.header-link {
    color: white;
}

.logo {
    display: inline-block;
    float: left;
    margin: 10px;
    vertical-align: center;
}

.logout {
    vertical-align: center;
    display: inline-block;
    float: right;

}

