* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container-fluid {
    margin: 20px auto;
}

.header {
    background-color: saddlebrown;
    height: 35px;
}
.header-link {
    color: white;
}

.logo {
    display: inline-block;
    float: left;
    margin: 10px;
}

.logout {
    display: inline-block;
    float: right;
    margin: 10px;
}

/*.header ul {*/
    /*list-style-type: none;*/
    /*display: inline-block;*/
    /*float: right;*/
/*}*/
/*.header li {*/
    /*float: right;*/
    /*margin: auto 10px;*/
/*}*/
/*.header li a {*/
    /*color: white;*/
/*}*/


/*.dev-signup {*/
    /*margin: 20px;*/
    /*border: 1px solid black;*/
    /*background-color: gray;*/
/*}*/
/*.dev-signup h1 {*/
    /*text-align: center;*/
/*}*/


