<div *ngIf="error" id="error-message" class="alert alert-danger" role="alert">
    <span>A simple danger alert—check it out!</span>
</div>


<form id="login-form" #loginForm="ngForm">
    <p>{{ loginForm.value | json }}</p>
    <div class="form-group">
        <input type="email" class="form-control" id="login-email"
               required
               placeholder="Email"
               [(ngModel)]="user.email" name="email">

    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="login-password"
               required
               placeholder="Password"
               [(ngModel)]="user.pw" name="pw">
    </div>
    <!-- aria-describedby="emailHelp" -->
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->


</form>

<!--<div>-->
    <!--<button type="button" class="btn btn-sm btn-outline-danger" (click)="testLoginDev()">Test Login Dev</button>-->
    <!--<button type="button" class="btn btn-sm btn-outline-danger" (click)="testLoginOrg()">Test Login Org</button>-->
<!--</div>-->

<button type="button" class="btn btn-lg btn-success float-right" (click)="login()">Login</button>
<!--<button type="button" class="btn btn-sm btn-outline-danger" (click)="printLoginServiceUser()">get loginService.user</button>-->
<!--<button type="button" class="btn btn-lg btn-warning" (click)="printThisLogin(loginForm)">print this.home-login</button>-->
