<div *ngIf="error" id="error-message" class="alert alert-danger" role="alert">
    <span>A simple danger alert—check it out!</span>
</div>


<form id="login-form" #loginForm="ngForm">
    <p>{{ loginForm.value | json }}</p>
    <div class="form-group">
        <input type="email" class="form-control" id="login-email"
               required
               [(ngModel)]="login.email" name="email">

    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="login-password"
               required
               [(ngModel)]="login.pw" name="pw">
    </div>
    <!-- aria-describedby="emailHelp" -->
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

    <div class="form-group row">
        <div class="col col-sm-3">
            <label><span>Are you a: </span></label>
        </div>
        <div class="col col-sm-9">
            <div class="form-check">
                <input type="radio" name="login-type" class="form-check-input" id="inlineRadio1"
                       [(ngModel)]="login.accountType" value="dev">
                <label for="inlineRadio1" class="form-check-label">Developer</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="login-type" id="inlineRadio2"
                       [(ngModel)]="login.accountType" value="org">
                <label for="inlineRadio2" class="form-check-label">Employer</label>
            </div>
        </div>
    </div>

</form>

<button type="button" class="btn btn-lg btn-outline-danger" (click)="testLoginDev()">Test Login Dev</button>
<button type="button" class="btn btn-lg btn-outline-danger" (click)="testLoginOrg()">Test Login Org</button>
<button type="button" class="btn btn-lg btn-success" (click)="tryLogin()">Login</button>
<!--<button type="button" class="btn btn-lg btn-warning" (click)="printThisLogin(loginForm)">print this.login</button>-->
