.carousel {
    width: 100%;
    height: auto;
    /*border: 1px solid purple;*/
}
.carousel-inner {
    min-height: 200px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236495ed' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236495ed' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.skills-border {
    border-radius: 9px;
    border: 1px solid cornflowerblue;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 10px;
}

.page-title {
    margin-bottom: 20px;
}
.section-header {
    margin: 0 auto 20px auto;
}
.display-skills {
    padding-left: 20px;
    min-height: 50px;
    width: 100%;
}
.figure:hover {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
.bold-text {
    font-weight: bold;
}
.each-skill {
    width: 23px;
    height: auto;
}
#bio {
    width: 100%;
}