<!-- template -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: cornflowerblue">
    <!-- left side of navbar -->
    <a class="navbar-brand" href="#" (click)="showHome()">devJobs</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showAllJobs()">Find Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showAllDevs()">Find Developers</a>
            </li>
        </ul>
    </div>
    <!-- end left side of navbar -->

    <!-- right side of navbar -->
    <div class="d-flex flex-row order-2 order-lg-3 ml-auto">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#modal-login">Login</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- end right side of navbar -->
</nav>
<!-- end navbar -->
<!-- end navbar -->
<!-- end navbar -->


<!--<p>{{states}}</p>-->




<!--_id: string;-->
<!--orgName: string;-->
<!--fname: string;-->
<!--lname: string;-->
<!--email: string;-->
<!--pw: string;-->
<!--cpw: string;-->
<!--address: string;-->
<!--city: string;-->
<!--state: string;-->
<!--zip: string;-->
<!--jobs: Array<Job>;-->
<!--accountType: string;-->

<div style="border: 1px solid black; margin: 100px auto;">
    <form id="add-org-form" #addOrgForm="ngForm">
        <div class="form-group">
            <label>Org Name: </label><input class="form-control" id="org-name" name="org-name" type="text" [(ngModel)]="createOrg.orgName">
        </div>
        <div class="form-group">
            <label>First Name: </label><input class="form-control" id="fname" name="fname" type="text" [(ngModel)]="createOrg.fname">
        </div>
        <div class="form-group">
            <label>Last Name: </label><input class="form-control" id="lname" name="lname" type="text" [(ngModel)]="createOrg.lname">
        </div>
        <div class="form-group">
            <label>Email: </label><input class="form-control" id="email" name="email" type="email" [(ngModel)]="createOrg.email">
        </div>
        <div class="form-group">
            <label>Password: </label><input class="form-control" id="pw" name="pw" type="text" [(ngModel)]="createOrg.pw">
        </div>
        <div class="form-group">
            <label>Street Address: </label><input class="form-control" id="address" name="address" type="text" [(ngModel)]="createOrg.address">
        </div>
        <div class="form-group">
            <label>City: </label><input class="form-control" id="city" name="city" type="text" [(ngModel)]="createOrg.city">
        </div>
        <div class="form-group">
            <label>State: </label>
            <select class="form-control" id="state" name="state" required [(ngModel)]="createOrg.state">
                <option *ngFor="let state of states">
                    {{ state }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Zip: </label><input class="form-control" id="zip" name="zip" type="text" [(ngModel)]="createOrg.zip">
        </div>
    </form>

    <button class="btn btn-lg btn-success" (click)="submitCreateOrg()">Create This Org</button>
</div>



<!--<form #addJobForm="ngForm">-->

<!--&lt;!&ndash; position &ndash;&gt;-->
<!--<div class="form-group row">-->
<!--<div class="col col-sm-4">-->
<!--<label for="position">-->
<!--<span class="bold-text">Position:</span>-->
<!--</label>-->
<!--</div>-->
<!--<div class="col col-sm-8">-->
<!--<input class="form-control" id="position" name="position" type="text" required [(ngModel)]="newJob.position">-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; description &ndash;&gt;-->
<!--<div class="form-group row">-->
<!--<div class="col col-sm-4">-->
<!--<label for="description">-->
<!--<span class="bold-text">Description:</span>-->
<!--</label>-->
<!--</div>-->
<!--<div class="col col-sm-8">-->
<!--<textarea class="form-control" id="description" name="description" required [(ngModel)]="newJob.description"></textarea>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; show required skills &ndash;&gt;-->
<!--<div class="form-group row">-->
<!--<div class="col col-sm-4">-->
<!--<label for="div-required-skills">-->
<!--<span class="bold-text">Required Skills:</span>-->
<!--</label>-->
<!--</div>-->
<!--<div class="col col-sm-7" id="div-required-skills">-->
<!--<div class="row">-->
<!--<figure *ngFor="let skill of newJob.skills" class="figure text-center show-required-skill-figure col col-sm-3">-->
<!--<img class="figure-img show-required-skill-img" src="assets/img/{{skill}}.png">-->
<!--<figcaption *ngIf="skill != 'Csharp'" class="figure-caption">{{skill}}</figcaption>-->
<!--<figcaption *ngIf="skill == 'Csharp'" class="figure-caption">C#</figcaption>-->
<!--</figure>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; add skill &ndash;&gt;-->
<!--<div class="form-group row">-->
<!--<div class="col col-sm-4">-->
<!--<label for="skills">-->
<!--<span class="bold-text">Add Required Skills:</span>-->
<!--</label>-->
<!--</div>-->
<!--<div class="col col-sm-7" id="skills">-->
<!--<div class="row">-->
<!--<figure *ngFor="let language of languages" class="figure text-center add-required-skill-figure col col-sm-4" (click)="addRequiredSkill(language)">-->
<!--<img class="figure-img add-required-skill-img" src="assets/img/{{language}}.png">-->
<!--<figcaption *ngIf="language != 'Csharp'" class="figure-caption">{{language}}</figcaption>-->
<!--<figcaption *ngIf="language == 'Csharp'" class="figure-caption">C#</figcaption>-->
<!--</figure>-->
<!--<figure *ngFor="let framework of frameworks" class="figure text-center add-required-skill-figure col col-sm-4" (click)="addRequiredSkill(framework)">-->
<!--<img class="figure-img add-required-skill-img" src="assets/img/{{framework}}.png">-->
<!--<figcaption class="figure-caption">{{framework}}</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<button class="btn btn-sm btn-danger" id="button-cancel" (click)="toggleAddJobForm()">Cancel</button>-->
<!--<button class="btn btn-sm btn-success" id="button-submitNewJob" (click)="submitNewJob()">Add This Position</button>-->

<!--</form>-->




<app-splash *ngIf="displayHome"></app-splash>
<app-jobs *ngIf="displayJobs"></app-jobs>
<app-devs *ngIf="displayDevs"></app-devs>

<!-- carousel of images -->
<!--<div class="container-fluid">-->
    <!--<div id="background-img-carousel" class="carousel slide" data-ride="carousel">-->
        <!--<div class="carousel-inner">-->
            <!--<div class="carousel-item active">-->
                <!--&lt;!&ndash;<img class="d-block w-100" src="../../../assets/img/home-bg-0.png" alt="A slide">&ndash;&gt;-->
                <!--<app-jobs></app-jobs>-->
            <!--</div>-->
            <!--<div class="carousel-item">-->
                <!--&lt;!&ndash;<img class="d-block w-100" src="../../../assets/img/home-bg-1.png" alt="A slide">&ndash;&gt;-->
                <!--<app-devs></app-devs>-->
            <!--</div>-->
            <!--<div class="carousel-item">-->
                <!--&lt;!&ndash;<img class="d-block w-100" src="../../../assets/img/home-bg-2.png" alt="A slide">&ndash;&gt;-->
                <!--<app-splash></app-splash>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="carousel-item">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="d-block w-100" src="../../../assets/img/home-bg-3.png" alt="A slide">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- end carousel -->

<!-- end template -->




<!--modals -->
<!--modals -->
<!--modals -->

<!-- #modal-login -->
<div class="modal fade" role="dialog" id="modal-login" aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Log In</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <app-login></app-login>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                <a data-toggle="modal" data-target="#modal-register" id="register-link">Register with devJobs</a>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-login-->


<!-- #modal-register-dev -->
<div class="modal fade" id="modal-register-dev" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
    <div class="modal-dialog modal" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <!--<h3 class="modal-title" id="modal-job-label">Position: {{selectedJob.position}}</h3>-->
                <h3 class="modal-title id=modal-register-label">Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<!-- end #modal-register-dev -->


<!-- #modal-register-org -->
<div class="modal fade" role="dialog" id="modal-register-org" aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Register Your Organization</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-lg btn-success" (click)="registerOrg()"></button>-->
                <!--<a data-toggle="modal" data-target="#modal-register">Register with devJobs</a>-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-register-org-->