
#div-home-page {
    margin-top: 20px;
}



#body-choose-display {
    padding: 10px;
}

.show-button {
    border-radius: 9px;
    background-color: cornflowerblue;
    color: white;
    width: 70%;
}

.display-each {
    margin: 10px;
    border: 1px solid cornflowerblue;
    border-radius: 9px;

}



#login-register {
    /*text-align: center;*/
}

.login-button {
    height: 100px;
    width: 150px;
    text-align: center;
    padding: auto;
    margin: 10px auto;
}








.signup-dev {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: auto;*/
    /*padding: 0 50px;*/
}

.signup-org {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: auto;*/
    /*padding: 0 50px;*/
}

.login {

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.login-header {
    text-align: center;
    padding: 20px;
}