<div class="container-fluid">
    <h1 class="header">DevsOnDeck</h1>
    <p class="header">Find Jobs and Developers for your next project!</p>

    <div class="row">

        <!-- link to DEV SIGNUP -->
        <div class="col-sm-4 signup-dev">
            <button class="btn btn-lg btn-success" routerLink="/signup/dev">Sign Up<br>as a Developer</button>
        </div>

        <!-- link to ORG SIGNUP -->
        <div class="col-sm-4 signup-org">
            <button class="btn btn-lg btn-primary" routerLink="/signup/org">Sign Up<br>as an Organization</button>
        </div>



        <!-- login form -->
        <div class="col-sm-4 login">
            <h3 class="login-header">Login</h3>
            <p>{{ loginForm.value | json }}</p>


            <form #loginForm="ngForm">

                <div class="form-group">
                    <label for="email-input">Email: </label>
                    <input class="form-control" type="text" id="email-input" name="email" [(ngModel)]="loginInfo.email" #email="ngModel">
                </div>

                <div class="form-group">
                    <label for="password">Password: </label>
                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="loginInfo.pw" #password="ngModel">
                </div>

                <button class="btn btn-lg btn-primary float-right" (click)="login()">Log In</button>

            </form>
        </div>


    </div>






    <table>
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</div>