
.container-fluid {
    background: url('../../../assets/img/splash3.png') no-repeat center center;
    background-size: cover;
    z-index: -1;

}

#ok {
    color: white;
    width: 480px;
    padding: 100px 0 300px 50px;
}

.ok {
    margin-bottom: 25px;
}
