
<!-- carousel of images -->
<!--<img class="bg" src="assets/img/splash2.png" alt="">-->
<div class="container-fluid">
    <div id="ok">
        <h1 class="ok">Find Devs.<br>Kick Ass.</h1>
        <p class="ok">Our 1,337-point match algorithm instantly connects Developers and Employers so you can stop messing with resumes and start building your project.</p>
        <button class="btn btn-sm btn-primary ok" role="button" data-toggle="modal" data-target="#modal-signup">Sign Up Now and getToWork( )</button>
    </div>
</div>


