.container-fluid {
    padding: 10px;
}

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.intro {
    font-size: large;
}

.section-header {
    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
}

.dev-instead {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    font-size: medium;
}

.signup {
    padding: 20px;
    float: none;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.validation {
    color: red;
}


