<p>put a carousel here with page-indicators; each page of the carousel is a form page.</p>

<!-- #add-org-form -->
<div>
    <form id="add-org-form" #addOrgForm="ngForm">
        <div class="form-group">
            <label>Org Name: </label><input class="form-control" id="org-name" name="org-name" type="text" [(ngModel)]="createOrg.orgName">
        </div>
        <div class="form-group">
            <label>First Name: </label><input class="form-control" id="fname" name="fname" type="text" [(ngModel)]="createOrg.fname">
        </div>
        <div class="form-group">
            <label>Last Name: </label><input class="form-control" id="lname" name="lname" type="text" [(ngModel)]="createOrg.lname">
        </div>
        <div class="form-group">
            <label>Email: </label><input class="form-control" id="email" name="email" type="email" [(ngModel)]="createOrg.email">
        </div>
        <div class="form-group">
            <label>Password: </label><input class="form-control" id="pw" name="pw" type="text" [(ngModel)]="createOrg.pw">
        </div>
        <div class="form-group">
            <label>Street Address: </label><input class="form-control" id="address" name="address" type="text" [(ngModel)]="createOrg.address">
        </div>
        <div class="form-group">
            <label>City: </label><input class="form-control" id="city" name="city" type="text" [(ngModel)]="createOrg.city">
        </div>
        <div class="form-group">
            <label>State: </label>
            <select class="form-control" id="state" name="state" required [(ngModel)]="createOrg.state">
                <option *ngFor="let state of states">
                    {{ state }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Zip: </label><input class="form-control" id="zip" name="zip" type="text" [(ngModel)]="createOrg.zip">
        </div>
    </form>

    <button class="btn btn-lg btn-success" (click)="submitCreateOrg()">Create This Org</button>
</div>
<!-- end addOrgForm -->
