<p>put a carousel here with page-indicators; each page of the carousel is a form page.</p>



<!-- code ver 1.0 -->

<!--<div class="container-fluid">-->
    <!--<div class="welcome">-->
        <!--<h1>Welcome Back!</h1>-->
        <!--<p class="intro">Let's find you a some candidates</p>-->
    <!--</div>-->

    <!--&lt;!&ndash; a row of two forms: signup and home-login &ndash;&gt;-->
    <!--<div class="row">-->

        <!--&lt;!&ndash; first col-sm-7: signup &ndash;&gt;-->
        <!--&lt;!&ndash; lol &ndash;&gt;-->
        <!--<div class="signup col-sm-7">-->

            <!--&lt;!&ndash; header &ndash;&gt;-->
            <!--<div class="section-header align-midddle">Register</div>-->
            <!--<div class="dev-instead align-middle"><a href="/signup/dev">(Register as Developer?)</a></div>-->

            <!--<form #newOrgForm="ngForm">-->
                <!--&lt;!&ndash;<p>{{ newOrgForm.value | json }}</p>&ndash;&gt;-->


                <!--&lt;!&ndash; row 0: orgname &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<label for="orgName">-->
                        <!--<span class="bold-text">Org Name</span>-->
                        <!--<span *ngIf="!orgName.valid" class="validation"> *Required</span>-->
                    <!--</label>-->
                    <!--<input class="form-control" id="orgName" name="orgName" type="text" required [(ngModel)]="newOrg.orgName" #orgName="ngModel">-->
                <!--</div>-->

                <!--&lt;!&ndash; row 1: fname && lname &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">-->
                            <!--<label for="fname">-->
                                <!--<span class="bold-text">First Name:</span>-->
                                <!--<span *ngIf="!fname.valid" class="validation"> *Required</span>-->
                            <!--</label>-->
                            <!--<input class="form-control" id="fname" name="fname" type="text" required [(ngModel)]="newOrg.fname" #fname="ngModel">-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<label for="lname">-->
                                <!--<span class="bold-text">Last Name:</span>-->
                                <!--<span *ngIf="!lname.valid" class="validation"> *Required</span>-->
                            <!--</label>-->
                            <!--<input class="form-control" id="lname" name="lname" type="text" required [(ngModel)]="newOrg.lname" #lname="ngModel">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!--&lt;!&ndash; row 2: email &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<label for="email">-->
                        <!--<span class="bold-text">Contact Email:</span>-->
                        <!--<span *ngIf="!email.valid" class="validation"> *Required</span>-->
                    <!--</label>-->
                    <!--<input class="form-control" type="text" id="email" name="email" required [(ngModel)]="newOrg.email" #email="ngModel">-->
                <!--</div>-->


                <!--&lt;!&ndash; row 3: address &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<label for="address">-->
                        <!--<span class="bold-text">Org Address:</span>-->
                        <!--<span *ngIf="!address.valid" class="validation"> *Required</span>-->
                    <!--</label>-->
                    <!--<input class="form-control" type="text" id="address" name="address" required [(ngModel)]="newOrg.address" #address="ngModel">-->
                <!--</div>-->


                <!--&lt;!&ndash; row 4: city && state && zip &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<div class="row">-->

                        <!--<div class="col-sm-5">-->
                            <!--<label for="city">-->
                                <!--<span class="bold-text">Org City:</span>-->
                                <!--<span *ngIf="!city.valid" class="validation"> *Required</span>-->
                            <!--</label>-->
                            <!--<input class="form-control" type="text" id="city" name="city" required [(ngModel)]="newOrg.city" #city="ngModel">-->
                        <!--</div>-->

                        <!--<div class="col-sm-3">-->
                            <!--<label for="State">-->
                                <!--<span class="bold-text">State</span>-->
                                <!--<span *ngIf="!state.valid" class="validation"> *Required</span>-->
                            <!--</label>-->
                            <!--<select class="form-control" id="state" name="state" required [(ngModel)]="newOrg.state" #state="ngModel">-->
                                <!--<option *ngFor="let state of states">-->
                                    <!--{{ state }}-->
                                <!--</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <!--<div class="col-sm-4">-->
                            <!--<label for="zip">-->
                                <!--<span class="bold-text">Zip:</span>-->
                                <!--<span *ngIf="!zip.valid" class="validation"> *Required</span>-->
                            <!--</label>-->
                            <!--<input class="form-control" type="text" id="zip" name="zip" required [(ngModel)]="newOrg.zip" #zip="ngModel">-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; row 5: pw && cpw &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<div class="row">-->

                        <!--<div class="col-sm-6">-->
                            <!--<label for="pw">-->
                                <!--<span class="bold-text">Password:</span>-->
                                <!--<span *ngIf="!pw.valid" class="validation"> *Required (min. 8 char.)</span>-->
                            <!--</label>-->
                            <!--<input class="form-control" type="password" id="pw" name="pw" required minlength="8" [(ngModel)]="newOrg.pw" #pw="ngModel">-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<label for="cpw">-->
                                <!--<span class="bold-text">Confirm Password:</span>-->
                                <!--<span *ngIf="!newOrg.pw || newOrg.pw != newOrg.cpw" class="validation"> *Passwords must match</span>-->
                            <!--</label>-->
                            <!--<input class="form-control" type="password" id="cpw" name="cpw" required [(ngModel)]="newOrg.cpw" #cpw="ngModel">-->
                        <!--</div>-->

                    <!--</div> &lt;!&ndash; end row &ndash;&gt;-->
                <!--</div> &lt;!&ndash; end form-group &ndash;&gt;-->

                <!--<button *ngIf="newOrgForm.valid" class="btn btn-lg btn-success float-right" (click)="registerOrg()">Register</button>-->
                <!--<button *ngIf="!newOrgForm.valid" class="btn btn-lg btn-outline-success float-right disabled" disabled="disabled">Register</button>-->

            <!--</form>-->

        <!--</div> &lt;!&ndash; end #signup-1 &ndash;&gt;-->

    <!--</div> &lt;!&ndash; end row &ndash;&gt;-->
<!--</div>-->